* {
    font-family: "SF Pro Display";
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 2em;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 600px;
    border: 1px solid orangered;
    padding: 2em;
    border-radius: 4px;

}

.task-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.task-input > input {
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
}

.submit-btn {
    align-self: center;
    padding: 0.5em 2em;
    border: none;
    background-color: orangered;
    color: white;
}

th {
    border: 1px solid white;
}

table, td {
    border:  1px solid orangered;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
}

th {
    background-color: orangered;
    color: white;
}

.completed-state {
    outline: none;
    border: none;
}

.delete-btn, .edit-btn {
    padding: .5em 1em;
    border: none;
    background-color: orangered;
    border-radius: 32px;
}

.sort-btn, .add-task-btn {
    background-color: orangered;
    padding: .5em 1em;
    border-radius: 32px;
    border: none;
    color: white;
}

.select-dropdown {
    outline: none;
    border: none;
    padding: .5em;
    border-radius: 32px;
}

.add-task-btn > a {
    color: white;
    text-decoration: none;
}
.edit-btn a, .delete-btn a {
    text-decoration: none;
    color: white;
}

